.su-header.active{
    height:351.297px;
    margin: 0 auto;
    width:100%;
}
.linknav {
    padding: 10px 0;
}
.header-content.about{
    background: #fff;
}
.nav-list-item1.active a{
    color: #2a333c;
}
